@{
    ViewData["Title"] = "Home Page";
}

<div class="container shadow mt-4 rounded">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="carousel slide">
                <div class="carousel-item active"></div>
                <div class="carousel-item"></div>
                <div class="carousel-item"></div>
            </div>

        </div>
    </div>
  
</div>
